.map-main-container {
    background: #060d28;
    width: 100% !important;
    min-height: 115vh !important;
}

.map-img {
    width: 100% !important;
    /* position: absolute !important;
    z-index: 1 !important; */
}

.map-transform-component {
    position: absolute !important;
    z-index: 2 !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.pin-icon {
    color: #b9013d !important;
    position: absolute !important;
    top: 49rem !important;
    z-index: 1 !important;
    font-size: 3rem !important;
    left: 73rem !important;
}

@media screen and (max-width: 768px) {
    .map-img {
        width: 100rem !important;
        max-width: none !important;
    }

    .map-main-container {
        background: #060d28;
        width: 120% !important;
        min-height: 120vh !important;
        padding-top: 2rem !important;
    }

    .map-temp-text {
        color: #d5a04e !important;
        font-size: 2rem !important;
        margin-top: 5rem !important;
        text-shadow: center !important;
    }

    .map-temp-text1 {
        color: #d5a04e !important;
        font-size: 2rem !important;
        margin-top: 5rem !important;
        margin-right: 3rem !important;
        text-shadow: center !important;
    }

    .map-temp-text2 {
        background: -webkit-linear-gradient( 76deg, rgb(255, 255, 255) 0%, rgb(5, 163, 255) 70%, rgb(40, 115, 255) 100%) !important;
        background-clip: border-box !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        font-size: 1.5rem !important;
        margin-top: 0rem !important;
        /* text-align: center !important; */
        margin-right: 3rem !important;
    }

    .map-temp-text3 {
        background: -webkit-linear-gradient( 76deg, rgb(255, 255, 255) 0%, rgb(5, 163, 255) 70%, rgb(40, 115, 255) 100%) !important;
        background-clip: border-box !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        font-size: 1.5rem !important;
        margin-top: 0rem !important;
        /* text-align: center !important; */
        margin-right: 4rem !important;
        margin-bottom: 3rem !important;
    }

    .map-temp-text5 {
        background: -webkit-linear-gradient( 76deg, rgb(255, 255, 255) 0%, rgb(5, 163, 255) 70%, rgb(40, 115, 255) 100%) !important;
        background-clip: border-box !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        font-size: 1.5rem !important;
        margin-top: 4rem !important;
        /* text-align: center !important; */
        margin-right: 8rem !important;
        margin-bottom: 3rem !important;
    }

    .map-temp-text6 {
        background: -webkit-linear-gradient( 76deg, rgb(255, 255, 255) 0%, rgb(5, 163, 255) 70%, rgb(40, 115, 255) 100%) !important;
        background-clip: border-box !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        font-size: 1.5rem !important;
        /* text-align: center !important; */
        margin-right: 4rem !important;

    }

    .unicorn-img {
        width: 100% !important;
        margin-top: 5rem !important;
        margin-left: -2rem !important;
    }

    .sc-bcXHqe.lcOxyP.loaded.fullView {
        margin-left: -2rem !important;
    }

    .show-map-btn-input {
        background: #d5a04e !important;
        border: solid 1px #FFF !important;
        border-radius: 20px !important;
        width: 70% !important;
        margin-left: 3rem !important;
    }
    .show-map-btn-input::placeholder {
        color: #000 !important;
        font-weight: 700 !important;
        font-size: 0.95rem !important;
    }

    .map-submit-btn2 {
        background: #d5a04e !important;
        height: 3rem !important;
        width: 60% !important;
        font-weight: 700 !important;
        border-radius: 10px !important;
        margin-left: 4.5rem !important;
    }

    .react-clock__face {
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        border: 5px solid #b78a48 !important;
        border-radius: 50% !important;
    }

    .react-clock__mark__body {
        background-color: #33b4fd !important;
    }

    .react-clock__hand__body.react-clock__hour-hand__body {
        background-color: #d5a04e !important;
        width: 10px !important;
    }

    .react-clock__hand.react-clock__hour-hand {
        transform: rotate(60807.5deg) !important;

    }

    .react-clock__hand__body.react-clock__minute-hand__body {
        background-color: #d5a04e !important;
        width: 7px !important;
    }

    .react-clock__hand.react-clock__minute-hand {
        transform: rotate(728706deg) !important;

    }

    .react-clock__second-hand__body {
        background-color: #00ff87 !important;
        width: 5px !important;
        /* transform: rotate(9030deg) !important; */
    }

    .gif-style {
        width: 100% !important;
    }
}