.nav-link {
    color: #FFF !important;
    width: 100% !important;
    text-decoration: none !important;
    font-size: 1.3rem !important;
}

.nav-link:hover {
    color: #1AFB9B !important;
    text-decoration: none !important;
    background: none !important;
}