.gradient-text {
    background: -webkit-linear-gradient( 136deg, rgb(11, 238, 47) 0%, rgb(3, 131, 138) 50%, rgb(0, 183, 114) 100%) !important;
    background-clip: border-box !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 2.5rem !important;
}

.home-main-container {
    background: #060d28;
    width: 100%;
    max-width: none;
    overflow: hidden;
    min-height: 115vh !important;
}

.landing-img {
    width: 37% !important;
    height: fit-content !important;
    margin-left: 38rem !important;
    border-radius: 20px !important;
    border-radius: 20px !important;
    box-shadow: rgb(0, 130, 244) 0px 15px 30px 0px !important;
    margin-top: 7rem !important;
}

.landing-frame {
    position: absolute !important;
    width: 51% !important;
    left: 29.7rem !important;
    top: -1rem !important;
}

.left-corner {
    position: absolute !important;
    width: 51% !important;
    left: 29.7rem !important;
    top: -1rem !important;
}

.landing-btn {
    background: #d5a04e !important;
    position: absolute !important;
    top: 37rem !important;
    left: 57.5rem !important;
    height: 3rem !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
    padding: 2rem !important;
}

.landing-btn:hover {
    background: #FFF !important;
    color: #d5a04e !important;
    position: absolute !important;
    top: 37rem !important;
    left: 57.5rem !important;
    height: 3rem !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
    padding: 2rem !important;
}

.landing-box {
    position: absolute !important;
    top: 7.3rem !important;
    left: 38.2rem !important;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    border-radius: 20px !important;
    width: 38.2% !important;
    background: #fdfdfd82 !important;
    padding: 3rem !important;
    line-height: 2.5rem !important;

}
.landing-text {
    color: #092282 !important;
}

@media screen and (max-width: 768px) {
    .landing-img {
        width: 100% !important;
        height: fit-content !important;
        margin-left: 0rem !important;
        border-radius: 20px !important;
        border-radius: 20px !important;
        box-shadow: rgb(0, 130, 244) 0px 15px 30px 0px !important;
        margin-top: 10rem !important;
    }
    .landing-frame {
        position: absolute !important;
        width: 100% !important;
        left: 0rem !important;
        top: 2rem !important;
        height: 100vh !important;
    }

    .left-corner {
        position: absolute !important;
        width: 100% !important;
        left: 0rem !important;
        top: -1rem !important;
    }

    .landing-btn {
        background: #d5a04e !important;
        position: absolute !important;
        top: 29rem !important;
        left: 8.5rem !important;
        height: 3rem !important;
        font-weight: 700 !important;
        border-radius: 10px !important;
        padding: 2rem !important;
    }

    /* .landing-btn:hover {
        background: #FFF !important;
        color: #d5a04e !important;
        position: absolute !important;
        left: 8.5rem !important;
        height: 3rem !important;
        font-weight: 700 !important;
        border-radius: 10px !important;
        padding: 2rem !important;
    } */

    .landing-box {
        position: absolute !important;
        top: 10rem !important;
        left: 4rem !important;
        font-weight: 700 !important;
        font-size: 2rem !important;
        border-radius: 0px !important;
        width: 75% !important;
        background: #fdfdfd7d !important;
        padding: 2rem !important;
        line-height: 2.5rem !important;
    }
    .landing-text {
        color: #092282 !important;
        font-size: 1.5rem !important;
    }

    .show-btn-input {
        background: #d5a04e !important;
        border: solid 1px #FFF !important;
        border-radius: 20px !important;
    }
    .show-btn-input::placeholder {
        color: #000 !important;
        font-weight: 700 !important;
        font-size: 0.95rem !important;
    }

    .before-btn-text {
        position: absolute !important;
        top: 29rem !important;
        left: 5.8rem !important;
        font-weight: 700 !important;
        background: #d5a04e !important;
        color: #FFF !important;
        padding: 1rem !important;
        width: 65%;
        border-radius: 20px;

    }

    .show-input-input {
        background: #000000c2 !important;
        border: solid 3px #FFF !important;
        color: #FFF !important;
        border-radius: 20px !important;
        margin-top: -25rem !important;
        width: 60% !important;
        margin-left: 5.5rem !important;
    }

    .show-input-input::placeholder {
        color: #FFF !important;
    }

    .landing-submit-btn {
        background: #d5a04e !important;
        height: 3rem !important;
        width: 60% !important;
        font-weight: 700 !important;
        border-radius: 10px !important;
        margin-top: -45rem !important;
        margin-left: 6rem !important;

    }
    .landing-submit-btn2 {
        background: #d5a04e !important;
        height: 3rem !important;
        width: 60% !important;
        font-weight: 700 !important;
        border-radius: 10px !important;
        margin-left: 6rem !important;
    }

    #main {
        position: absolute;
        z-index: 1;
        top: 37rem;
        left: 12.5rem;
        background: #0257aa85;
        padding: 2rem;
        border-radius: 20px;
    }

    #main .arrow:first-child {
        opacity: 0.4;
      }
      #main .arrow:nth-child(2) {
        opacity: 0.7;
      }
      .arrow {
        padding-top: 10px;
      }
      .arrow:before {
        content: "";
        width: 25px;
        height: 15px;
        background: #d5a04e;
        display: inline-block;
        transform: skewY(45deg);
      }
      .arrow:after {
        content: "";
        width: 25px;
        height: 15px;
        background: #d5a04e;
        display: inline-block;
        transform: skewY(-45deg);
      }
      .arrowSliding {
        animation: slide 4s linear infinite;
      }
      .delay1 {
        animation-delay: 0s;
      }
      .delay2 {
        animation-delay: 1s;
      }
      .delay3 {
        animation-delay: 2s;
      }
      
      @keyframes slide {
        0% {
          opacity: 1;
        }
        25% {
          opacity: 0;
        }
        55% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
}

   