.gradient-text {
    background: -webkit-linear-gradient( 136deg, rgb(11, 238, 47) 0%, rgb(3, 131, 138) 50%, rgb(0, 183, 114) 100%) !important;
    background-clip: border-box !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 2.5rem !important;
}

.home-main-container {
    background: #060d28;
    width: 100%;
    max-width: none;
    overflow: hidden;
    min-height: 115vh !important;
}

.landing-img {
    width: 37% !important;
    height: fit-content !important;
    margin-left: 38rem !important;
    border-radius: 20px !important;
    border-radius: 20px !important;
    box-shadow: rgb(0, 130, 244) 0px 15px 30px 0px !important;
    margin-top: 7rem !important;
}

.landing-frame {
    position: absolute !important;
    width: 51% !important;
    left: 29.7rem !important;
    top: -1rem !important;
}

.left-corner {
    position: absolute !important;
    width: 51% !important;
    left: 29.7rem !important;
    top: -1rem !important;
}

.landing-btn {
    background: #d5a04e !important;
    position: absolute !important;
    top: 37rem !important;
    left: 57.5rem !important;
    height: 3rem !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
    padding: 2rem !important;
}

.landing-btn:hover {
    background: #FFF !important;
    color: #d5a04e !important;
    position: absolute !important;
    top: 37rem !important;
    left: 57.5rem !important;
    height: 3rem !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
    padding: 2rem !important;
}

.landing-box {
    position: absolute !important;
    top: 7.3rem !important;
    left: 38.2rem !important;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    border-radius: 20px !important;
    width: 38.2% !important;
    background: #fdfdfd82 !important;
    padding: 3rem !important;
    line-height: 2.5rem !important;

}
.landing-text {
    color: #092282 !important;
}